<div *ngFor="let item of teste; index as i" class="collapse">
  <header (click)="testFunc(i)">
    <p>collapse works!</p>
  </header>
  <section class="collapse-container" #collapseSection>
    <div (click)="innerFuncTest(i)">
      <span>{{item.name}}</span>
      <div style="margin-left: 15px;" class="inner-collapse" #innerCollapse>
        <ng-container [ngTemplateOutlet]="bodyTemplate"
          [ngTemplateOutletContext]="{$implicit:item.things.contentArray}">
        </ng-container>
      </div>
    </div>
  </section>
</div>
